.switch {
  cursor: pointer;
  display: block;
  padding: 5px;
  path {
    transition: .3s;
  }
  @media only screen and (min-width: 1025px) {
    &:hover {
      path {
        fill: #f3ff00;
      }
    }
  }
  svg {
   fill: #fff;
  }
  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: -999px;
  }
}